.form_row {
    position: relative;
    margin-top: 20px;
}

label.form-label {
    position: absolute;
    top: 7px;
    left: 10px;
    color: #999;
    user-select: none;
    transition: all .15s ease-in-out 0s;
    margin-bottom: 0px;
}

.form-textbox:focus+.form-label,
.form-label.active {
    top: -1.8em;
    left: 0;
    font-size: 15px;
    color: #1a1446;
    cursor: pointer;
}

.search-btn {
    background-color: #28a3af;
    border-color: #28a3af;
    border: none;
}

@media only screen and (max-width: 576px) {
    label.form-label {
        font-size: 12px;
        top: 10px;
    }
    .search-btn {
        padding: .375em .5rem;
    }
}

@media only screen and (min-width: 991px) {
    .d-max-screen {
        max-height: 350px;
        overflow-y: auto;
    }
}

@media only screen and (max-width: 990px) {
    .d-max-screen {
        max-height: 275px;
        overflow-y: auto;
    }
}