<div class="change-screen">
    <div class="mh-100">
        <div class="title mb-4">
            <h1 translate>We will need you to mail your original receipt and medical certificate for this claim. Dont't worry, no paper form is required.</h1>
            <p translate>Since this claim is over THB 2000. We require these items. They can be returned to you after the claim.</p>
        </div>
    </div>
    <div class="sm-center">
        <button class="btn btn-primary next-btn my-btn" (click)="nextScreen()" translate>Next</button>
    </div>
</div>