<div class="col-lg-9 mt-2">
    <div class="title mb-4">
        <p class="text-danger" *ngIf="serverError">{{ serverError }}</p>
        <h1 translate>Review Claim Details</h1>
        <p class="text-danger">Providing incorrect information may result in your claim being denied.</p>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="policy">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>Selected Policy</p>
                <h3>{{ policy.policyNumber + '-' + policy.policyText }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="claimant">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>Claiming on behalf of: </p>
                <h3>{{ claimant.name }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/claimant')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="claimType">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>What was your claim type?</p>
                <h3>{{ claimType.description }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/claim-type')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="consultDate">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>When was your consultation?</p>
                <h3>{{ consultDate | date }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/consult-date')">Edit</button>
        </div>
    </div>


    <div class="d-flex justify-content-between mb-4" *ngIf="hospital">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>What was the name of the hospital or clinic?</p>
                <h3>{{ hospital.name }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/hospital-clinic')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="diagnosis">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>What was your diagnosis?</p>
                <h3>{{ diagnosis.description }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/diagnosis')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="receipt">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>What is the receipt amount?</p>
                <h3>{{ receipt.currency + ' ' + receipt.amount }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/receipt-amount')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="otherClaim">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>Amount claimed from other insurer:</p>
                <h3 *ngIf="otherClaim.currency != 'None'">{{ otherClaim.currency + ' ' + otherClaim.amount }}</h3>
                <h3 *ngIf="otherClaim.currency == 'None'">{{ otherClaim.currency }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/other-claim')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngIf="orReceipt">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>Do you want us to return the original documents?</p>
                <h3>{{ orReceipt.status }}</h3>
            </div>
        </div>
        <div class="edit-btn">
            <button class="btn" (click)="setLatestScreen('/claim-process/other-claim')">Edit</button>
        </div>
    </div>
    <div class="d-flex justify-content-between mb-4" *ngFor="let file of files | keyvalue;let i=index" [style.display]="(file.value.length == 0 ? 'none' : null)">
        <div class="side-show-text d-flex">
            <div class="icon-before">
                <p translate>{{ 'Attached' }} {{ file.key }}</p>
                <div class="d-flex flex-wrap">
                    <div class="mr-2" *ngFor="let f of file.value ">
                        <div class="review-claim-img mr-1">
                            <img class=" mb-2" [src]="f.url" width="100">
                        </div>
                        <p class="show-attached-file"> {{f.name}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit-btn"><button class="btn" (click)="setLatestScreen('/claim-process/attach-document?screen=' + (i + 1) + '#'+file.key)" routerLinkActive="active">Edit</button></div>
    </div>

    <p class="mt-3 review-text"><span translate>By clicking ‘Submit Claim’, I acknowledge that I have read and agree to the</span>&nbsp;<a target="_blank" routerLink="/terms-condition" routerLinkActive="active" translate>terms and conditions</a>.</p>
    <div class="next-btn-container d-flex justify-content-lg-start justify-content-center">
        <button class="btn btn-primary" (click)="submitForm()" enable translate>Submit Claim</button>
    </div>
</div>