<div class="col-12 mb-4 mt-md-4 mt-3">
    <div class="title">
        <h1 translate>Enter Policy Details</h1>
        <p translate>Please provide your details for validation.</p>
        <p class="text-danger">{{errText }}</p>
    </div>
</div>
<form [formGroup]="policyForm" (ngSubmit)="onSubmit()">
    <div class="col-lg-8">
        <div class="form-group">
            <label for="policy"> 
                        <span translate>Policy Number</span> 
                        <span class="text-danger">*</span>
                    </label>
            <div class="d-inline-block tooltip-icon mb-2 ml-2">
                <span class="tooltiptext">
                            <div class="tooltip-inner-text" translate>Please refer to your Group Medical / Member card.</div>
                        </span>
                <img [src]="icon">
            </div>
            <div class="d-flex align-items-center">
                <div class="d-inline-block lg-input-wd mb-2">
                    <input required type="text" formControlName="policyNumber" class="form-control" id="policy" placeholder="{{'e.g. GHS12345' }}" autofocus maxlength="8">
                </div>
                <span class="hyphen-col mb-2">-</span>
                <div class="d-inline-block sm-input-wd mb-2">
                    <input type="text" formControlName="policyText" class="form-control" id="pp" placeholder="{{'e.g. 000'  }}" maxlength="3">
                </div>
            </div>
            <ng-container *ngFor="let error of policyValidation.policyNumber">
                <p class="text-danger" *ngIf="policyNumber.invalid && (policyNumber.dirty || policyNumber.touched) && policyNumber.hasError(error.type)">{{ error.message }}</p>
            </ng-container>
            <ng-container *ngFor="let error of policyValidation.policyText">
                <p class="text-danger" *ngIf="policyText.invalid && (policyText.dirty || policyText.touched) && policyText.hasError(error.type) && policyNumber.valid">{{ error.message }}</p>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="cerificate" translate>Unit Number<span class="text-danger">*</span></label>
            <div class="d-inline-block tooltip-icon mb-2 ml-2">
                <span class="tooltiptext">
                            <div class="tooltip-inner-text" translate>
                                <p translate>e.g. CR000000</p> <p translate>e.g. 00</p>
                            </div>
                        </span>
                <img [src]="icon">
            </div>
            <div class="d-flex align-items-center">
                <div class="d-inline-block lg-input-wd mb-2">
                    <input required maxlength="10" type="text" formControlName="unitNumber" placeholder="{{'e.g. CR000000' }}" class="form-control" id="certificate">
                </div>
                <span class="hyphen-col mb-2">-</span>
                <div class="d-inline-block sm-input-wd mb-2">
                    <input maxlength="2" type="text" formControlName="unitText" class="form-control" id="pc" placeholder="{{'e.g. 00' }}">
                </div>
            </div>
            <ng-container *ngFor="let error of policyValidation.unitNumber">
                <p class="text-danger" *ngIf="unitNumber.invalid && (unitNumber.dirty || unitNumber.touched) && unitNumber.hasError(error.type)">{{ error.message }}</p>
            </ng-container>
            <ng-container *ngFor="let error of policyValidation.unitText">
                <p class="text-danger" *ngIf="unitText.invalid && (unitText.dirty || unitText.touched) && unitText.hasError(error.type) && unitNumber.valid">{{ error.message }}</p>
            </ng-container>
        </div>
        <div class="form-group">
            <label for="passport"><span translate>TH ID / Passport Number</span><span class="text-danger">*</span></label>
            <div class="d-inline-block tooltip-icon mb-2 ml-2">
                <span class="tooltiptext">
                            <div class="tooltip-inner-text" translate>
                                <p  translate>e.g. Thailand ID: A123456(7)   Input: A12345</p>
                                <p translate>e.g. Passport Number: AB123456 Input: AB1234</p>
                            </div>
                        </span>
                <img [src]="icon">
            </div>
            <div class="d-block">
                <div class="d-inline-block lg-input-wd mb-2">
                    <input required maxlength="10" type="text" formControlName="passportNumber" placeholder="{{'e.g. A123456'}}" class="form-control" id="passport">
                </div>
            </div>
            <ng-container *ngFor="let error of policyValidation.passportNumber">
                <p class="text-danger" *ngIf="passportNumber.invalid && (passportNumber.dirty || passportNumber.touched) && passportNumber.hasError(error.type)">{{ error.message }}</p>
            </ng-container>
        </div>
    </div>
    <div class="d-flex justify-content-md-end justify-content-center col-12 mt-4">
        <button type="submit" id="continue" class="btn next-btn" translate>Continue</button>
    </div>
</form>
<div *ngIf="loading" class="loader-overlay d-flex align-items-center justify-content-center">
    <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>