<div class="mainbox">
    <h2>Claimant</h2>
    <p class="sb-hding">The claimant is the parson who visited the doctor and receieved the treatment. Please indicate if you are claiming for yourself or a dependent.</p>
    <div class="d-flex mb-4">
        <div class="dbox  br-10" [ngClass]="{selectedBox:(claimant && claimant.name == 'Myself - jonathan leung' && !isDependant) }" (click)="select('Myself - jonathan leung')">
            <div>
                <p>Myself - jonathan leung</p>
                <img src="assets/images/check-icon.png" alt="">
            </div>
        </div>
        <div class="dbox " [ngClass]="{selectedBox: isDependant }" (click)="selectDependant()">
            <div>
                <p>My Insured Dependent</p>
                <img src="assets/images/check-icon.png" alt="">
            </div>
        </div>
    </div>
    <div class="dep-detail" *ngIf="isDependant">
        <h5>Add dependent details.</h5>
        <form [formGroup]="dependantForm" (submit)="addClaimantDependant()">
            <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control" placeholder="">
            </div>
            <div class="form-group">
                <label>National ID</label>
                <input type="text" formControlName="id" class="form-control" placeholder="">
            </div>
            <div class="d-flex justify-content-center justify-content-sm-start">
                <button [disabled]="!dependantForm.valid" class="btn btn-primary next-btn my-btn">Next</button>
            </div>
        </form>
    </div>
</div>