<div class="col-lg-6">
    <div class="progress-rate mb-3">
        <p><span>{{ progressBar }}%</span> &nbsp;<span translate>Complete</span></p>
        <div class="progress">
            <div class="progress-bar" [style.width]="progressBar+'%'"></div>
        </div>
    </div>
</div>


<div class="col-md-12">
    <div class="row">
        <div class="col-lg-6">
            <router-outlet></router-outlet>
        </div>
        <!-- show the data selected by user  -->
        <div class="col-lg-6" [ngClass]="{'side-bar':consultDate}">
            <div class="d-flex justify-content-between mb-4" *ngIf="consultDate">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Consult Date</p>
                        <h3>{{ consultDate | date }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/consult-date')">Edit</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="claimant">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Claimant</p>
                        <h3>{{ claimant.name }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/claimant')">Edit</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="claimType">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>ClaimType</p>
                        <h3>{{ claimType.description }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/claim-type')">Edit</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="hospital">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Hospital</p>
                        <h3>{{ hospital.name }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/hospital-clinic')">Edit</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="diagnosis">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Hospital</p>
                        <h3>{{ diagnosis.description }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/diagnosis')">Edit</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="receipt">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Amount</p>
                        <h3>{{ receipt.currency + ' ' + receipt.amount }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/receipt-amount')">Edit</button>
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="otherClaim">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Other Amount</p>
                        <h3 *ngIf="otherClaim.currency != 'None'">{{ otherClaim.currency + ' ' + otherClaim.amount }}</h3>
                        <h3 *ngIf="otherClaim.currency == 'None'">{{ otherClaim.currency }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/other-claim')">Edit</button>
                </div>
            </div>
            <div class="display-flex justify-content-between mb-4" *ngFor="let file of files | keyvalue;let i=index" [style.display]="(file.value.length == 0 ? 'none' : null)">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>{{ 'Attached' }} {{ file.key }}</p>
                        <h3 *ngIf="file.value">{{ file.value.length }} {{ file.value.length > 1 ? 'documents' : 'document' }}</h3>
                    </div>
                </div>
                <div class="edit-btn"><button class="btn" (click)="setLatestScreen('/claim-process/attach-document?screen=' + (i + 1) + '#'+file.key)" routerLinkActive="active">Edit</button></div>
            </div>
            <div class="d-flex justify-content-between mb-4" *ngIf="orReceipt">
                <div class="side-show-text d-flex">
                    <div class="icon-before">
                        <p translate>Original Rceipt</p>
                        <h3>{{ orReceipt.status }}</h3>
                    </div>
                </div>
                <div class="edit-btn">
                    <button class="btn" (click)="setLatestScreen('/claim-process/other-claim')">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>