<footer>
    <div class="container">
        <div class="d-flex align-items-center footer flex-wrap">
            <div class="text-center">
                <a target="_blank" class="text-white" [href]="termsCondition" translate>Terms & Conditions</a>
                <span>&nbsp;|&nbsp;</span>
                <a class="text-white" target="_blank" [href]="privacyPolicy" translate>Privacy Policy</a>
                <span> &nbsp;|&nbsp;</span>
                <a class="text-white" target="_blank" [href]="mPrivacyPolicy" translate>Mobile App Privacy Policy</a>
            </div>
            <div class="copyright text-center">
                <span translate>© 2019 Liberty International Insurance Limited. All Rights Reserved.</span>
            </div>
        </div>
    </div>
</footer>